:root {
  --dark-color: #2e2f42;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --text-color: #434455;
  --light-color: #f4f4fd;
  --contrast-color: #ffffff;
  --accent-color: #e7e9fc;
  --light-slate-color: #8e8f99;
  --success-color: #31d0aa;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .section {
  padding-top: 120px;
  padding-bottom: 120px;
} */

/* .container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
} */
.container {
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);

  margin-bottom: 72px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);

  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
}

/* -----Header----- */

.header {
  background-color: var(--contrast-color);
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  
  outline: 1px solid gray;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  display: block;
  line-height: 1.16;
  color: var(--dark-color);
  
}

.primary {
  color: var(--primary-brand-color);
}



/* -----Hero----- */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  background-color: var(--dark-color);
}

.hero-overlay {
  /* max-width: 1600px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-overlay {
      background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);

    }
}


.hero-title {
  max-width: 350px; 
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--contrast-color);

  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;

}

.hero-btn,
.footer-form-btn,
.modal-send-btn {
  color: var(--contrast-color);
  background-color: var(--primary-brand-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  min-width: 170px;

  transition: background-color var(--transition-dur-and-func);
}

.hero-btn:hover,
.hero-btn:focus,
.footer-form-btn:hover,
.footer-form-btn:focus,
.modal-send-btn:hover,
.modal-send-btn:focus {
  color: var(--contrast-color);
  background-color: var(--pressed-state-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} 

/* -----Strategy-----*/
.strategy {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--contrast-color);
} 

.strategy-list,
.result-list,
.team-list,
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
 
} 
.strategy-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
 .strategy-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
 }


/* -----Result----- */

@media screen and (max-width: 1199px){
  .result {
 display: none;
} 
}

/* -----Team----- */

.team {
  background-color: var(--light-color);

  padding-top: 96px;
  padding-bottom: 128px;
}

.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-container {
  background: var(--contrast-color);
  border-radius: 0px 0px 4px 4px;

  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list {
  justify-content: center;
}

.team-subtitle,
.team-text {
  text-align: center;
}

.team-icon-list {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icon-item {
  width: 40px;
  height: 40px;
}

.team-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--transition-dur-and-func);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--pressed-state-color);
}

.team-icon-svg {
  fill: var(--contrast-color);
}











/* -----Customers----- */
/* 
.customers {
  background-color: var(--contrast-color);
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 5 * 24px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate-color);

  transition: color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}

.customers-icon-svg {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
} */

/* -----Portfolio----- */
/* 
.portfolio {
  padding-top: 96px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-btn {
  text-align: center;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border: 1px solid var(--accent-color);
  padding: 12px 24px;

  box-shadow: none;

  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--contrast-color);
  background-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.filter-item:not(:last-child) {
  margin-right: 24px;
}

.card-list {
  row-gap: 48px;
}

.card-item {
  width: calc((100% - 2 * 24px) / 3);
}

.card-link {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow var(--transition-dur-and-func);
}

.card-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-container {
  background: var(--contrast-color);
  border: 1px solid var(--accent-color);
  border-top: none;
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.card-overlay-container {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);

  padding: 40px 32px 16px;
  color: var(--light-color);
  background-color: var(--primary-brand-color);

  transition: transform var(--transition-dur-and-func);
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  transform: translate(0, 0);
} */

/* -----Footer----- */
/* 
.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--dark-color);
}

.footer-container {
  display: flex;
}

.footer-logo {
  line-height: 1.16;
  color: var(--light-color);
}

.footer-text {
  max-width: 264px;
  color: var(--accent-color);
  margin-top: 16px;
}

.footer-container-logo {
  margin-right: 120px;
}

.footer-container-icon {
  margin-right: 80px;
}

.footer-title {
  font-weight: 500;
  color: var(--contrast-color);
  margin-bottom: 16px;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-dur-and-func);
}

.footer-icon-svg {
  fill: var(--light-color);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--success-color);
}

.footer-form {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer-form-email {
  min-width: 264px;
  height: 40px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--contrast-color);

  padding: 8px 16px;

  transition: border-color var(--transition-dur-and-func);
}

.footer-form-email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form-email:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.footer-form-btn {
  display: flex;
  gap: 16px;

  min-width: 165px;
  height: 40px;
  padding: 8px 24px 8px 24px;
} */

/* -----Modal----- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 392px;
  min-height: 576px;
  padding: 72px 16px 16px 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--transition-dur-and-func);
}

.backdrop.is-hidden .modal-container {
  transform: translate(-50%, -50%) scale(0);
}

.close-btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  padding: 0;

  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition: background-color var(--transition-dur-and-func);
}

.close-btn-modal:hover,
.close-btn-modal:focus {
  background-color: var(--pressed-state-color);
}

.close-btn-modal-svg {
  transition: fill var(--transition-dur-and-func);
}

.close-btn-modal:hover .close-btn-modal-svg,
.close-btn-modal:focus .close-btn-modal-svg {
  fill: var(--contrast-color);
}

.modal-form-mission {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 14px;
}

.modal-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--light-slate-color);

  margin-bottom: 4px;
}

.modal-form-label {
  display: block;
  margin-bottom: 8px;
}

.modal-icon-wrap {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;

  transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.modal-icon-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: fill var(--transition-dur-and-func);
}

.modal-form-input:focus + .modal-icon-svg {
  fill: var(--primary-brand-color);
}

.comment-label {
  display: block;
  margin-bottom: 16px;
}

.textarea-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  resize: none;
}

.textarea-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-check-label {
  display: flex;
  align-items: center;
  color: #757575;

  margin-bottom: 24px;
}

.modal-check-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border: 1.25px solid var(--dark-color);
  border-radius: 2px;

  margin-right: 8px;

  transition: background-color var(--transition-dur-and-func);
}

.modal-check-input:checked + .modal-check-label::before {
  background-color: var(--primary-brand-color);
  border: transparent;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;

  fill: var(--contrast-color);
  cursor: pointer;
}

.modal-form-link {
  color: var(--primary-brand-color);
}

.modal-send-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
} 
